default_language_version:
  python: python3.11

repos:
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 23.11.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--skip-string-normalization]

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8

  - repo: https://github.com/timothycrosley/isort
    rev: '5.12.0'
    hooks:
        - id: isort

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: '4daa14b'
    hooks:
      - id: mypy
        args: [--strict, --ignore-missing-imports]